[submodule "riscv-tools"]
	path = riscv-tools
	url = ../riscv-tools.git
	branch = develop-openql-wip
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = ../riscv-gnu-toolchain.git
	branch = develop-openql-wip
